In [19]:
%matplotlib inline

import os
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
import pandas as pd
import numpy as np

import statsmodels.api as sm1 #Usa OLS com X como matriz de planejamento
import statsmodels.formula.api as sm  #Usa OLS como no R

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Matheus\Documents\GitHub\CD\projeto_3

In [20]:
dados = pd.read_excel('ESPECVIDA.xlsx',index_col=0)
dados1 = pd.read_excel('PIBPER.xlsx',index_col=0)
dados2 = pd.read_excel('SANIT.xlsx',index_col=0)

In [21]:
d = pd.DataFrame()
d1 = pd.DataFrame()
d2 = pd.DataFrame()

In [22]:
d = dados.Dez
d1 = dados1.Dez
d2 = dados2.Dez

In [23]:
d.head()

Life expectancy
Abkhazia                  NaN
Afghanistan              53.6
Akrotiri and Dhekelia     NaN
Albania                  77.2
Algeria                  76.0
Name: Dez, dtype: float64

In [24]:
D = pd.DataFrame()

In [25]:
D['expectativa'] = d
D['renda'] = d1
D['saneamento'] = d2

In [26]:
D=D[~np.isnan(D.renda)]
D = D[~np.isnan(D.expectativa)]
D = D[~np.isnan(D.saneamento)]

In [27]:
D.head()

                 expectativa         renda  saneamento
Life expectancy
Albania                 77.2   1915.424459        94.0
Algeria                 76.0   2231.980246        95.0
Angola                  57.6    623.245275        58.0
Armenia                 73.0   1326.710864        90.0
Australia               82.0  25190.839860       100.0