In [1]:
%matplotlib inline

import os
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
import pandas as pd
import numpy as np

import statsmodels.api as sm1 #Usa OLS com X como matriz de planejamento
import statsmodels.formula.api as sm  #Usa OLS como no R

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Lucas\Documents\GitHub\Cd\Projeto3

In [8]:
dados = pd.read_excel('Fertilidade.xlsx',index_col=0)
dados1 = pd.read_excel('Estudo.xlsx',index_col=0)
dados2 = pd.read_excel('IDH.xlsx',index_col=0)

In [9]:
d = pd.DataFrame()
d1 = pd.DataFrame()
d2 = pd.DataFrame()

In [10]:
d = dados.Sete
d1 = dados1.Sete
d2 = dados2.Sete

In [11]:
d.head()

Total fertility rate
Abkhazia                  NaN
Afghanistan              6.46
Akrotiri and Dhekelia     NaN
Albania                  1.80
Algeria                  2.66
Name: Sete, dtype: float64

In [17]:
D = pd.DataFrame()

In [18]:
D['Fertilidade'] = d
D['Estudo'] = d1
D['IDH'] = d2

In [19]:
D=D[~np.isnan(D.Fertilidade)]
D = D[~np.isnan(D.Estudo)]
D = D[~np.isnan(D.IDH)]

In [20]:
D.head()

                      Fertilidade     Estudo    IDH
Total fertility rate
Algeria                      2.66   96.39509  0.680
Argentina                    2.25  102.61247  0.780
Armenia                      1.40  101.31553  0.715
Austria                      1.38  103.44956  0.870
Bahamas                      1.88  102.36646  0.770